.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App .App-page {
  margin: 0.25ex;
}

.contacts-logo {
  height: 10vh;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.btn-primary {
  border: 1px solid hsla(185, 35%, 50%, 1);
  border-radius: 3px;
  color: hsla(185, 35%, 50%, 1);
  display: inline-block;
  font-weight: 700;
  max-width: 10em;
  min-height: 1.5ex;
  padding: 1ex 2ex;
}

.btn-primary:hover {
  background-color: hsla(185, 85%, 50%, 1);
  color: hsla(5, 75%, 50%, 1);
}

.btn-primary:disabled {
  background-color: transparent;
  color: hsla(5, 25%, 20%, 1);
}

.btn-secondary {
  border: 1px solid hsla(5, 35%, 50%, 1);
	border-radius: 3px;
  color: hsla(5,35%, 50%, 1);
  display: inline-block;
  font-weight: 700;
  max-width: 10em;
  min-height: 1.5ex;
	padding: 1ex 1.5ex;
}

.btn-secondary:hover {
  background-color: hsla(5, 85%, 50%, 1);
	color: hsla(185, 75%, 50%, 1);
}

.btn-secondary:disabled {
  background-color: transparent;
  color: hsla(185, 25%, 20%, 1);
}

.btn-holder {
  height: 2em;
  margin-bottom: 3px;
  padding: 0.24em;
}

.error {
  color: hsla(5, 50%, 50%, 1);
}

@import "ColumnLayouts.css";
