/****
* layouts for 1 - 8 columns
****/

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
.col-2of3,
.col-2of4, .col-3of4,
.col-2of5, .col-3of5, .col-4of5,
.col-2of6, .col-3of6, .col-4of6, .col-5of6,
.col-2of7, .col-3of7, .col-4of7, .col-5of7, .col-6of7,
.col-2of8, .col-3of8, .col-4of8, .col-5of8, .col-6of8, .col-7of8 {
  box-sizing: border-box;
  display: inline-block;
  margin: 0.12em;
  padding: 0.24em;
  position: relative;
  vertical-align: top;
}


/****
* 1 column layout
****/
.col-1 {
  width: calc(100% - 0.5em)!important;
}


/****
* 2 column layout
****/
.col-2, .col-1of2 {
  width: calc((100% - (0.24em * 3))/2)!important;
}


/****
* 3 column layout
****/
.col-3, .col-1of3 {
  width: calc((100% - (0.24em * 4))/3)!important;
}

.col-2of3, .col-4of6 {
  width: calc(((100% - (0.24em * 2))/3) * 2)!important;
}


/****
* 4 column layout
****/
.col-4, .col-1of4 {
  width: calc((100% - (0.24em * 5))/4)!important;
}

.col-2of4 {
  width: calc(((100% - (0.24em * 3))/4) * 2)!important;
}

.col-3of4 {
  width: calc(((100% - (0.24em * 2))/4) * 3)!important;
}


/****
* 5 column layout
****/
.col-5, .col-1of5 {
  width: calc((100% - (0.24em * 6))/5)!important;
}

.col-2of5 {
  width: calc(((100% - (0.24em * 4))/5) * 2)!important;
}

.col-3of5 {
  width: calc(((100% - (0.24em * 3))/5) * 3)!important;
}

.col-4of5 {
  width: calc(((100% - (0.24em * 2))/5) * 4)!important;
}


/****
* 6 column layout
****/
.col-6, .col-1of6 {
  width: calc((100% - (0.24em * 7))/6)!important;
}

.col-2of6 {
  width: calc(((100% - (0.24em * 5))/6) * 2)!important;
}

.col-3of6 {
  width: calc(((100% - (0.24em * 4))/6) * 3)!important;
}

.col-4of6 {
  width: calc(((100% - (0.24em * 3))/6) * 4)!important;
}

.col-5of6 {
  width: calc(((100% - (0.24em * 2))/6) * 5)!important;
}


/****
* 7 column layout
****/
.col-7, .col-1of7 {
  width: calc((100% - (0.24em * 8))/7)!important;
}

.col-2of7 {
  width: calc(((100% - (0.24em * 6))/7) * 2)!important;
}

.col-3of7 {
  width: calc(((100% - (0.24em * 5))/7) * 3)!important;
}

.col-4of7 {
  width: calc(((100% - (0.24em * 4))/7) * 4)!important;
}

.col-5of7 {
  width: calc(((100% - (0.24em * 3))/7) * 5)!important;
}

.col-6of7 {
  width: calc(((100% - (0.24em * 2))/7) * 6)!important;
}


/****
* 8 column layout
****/
.col-8, .col-1of8 {
  width: calc((100% - (0.24em * 9))/8)!important;
}

.col-2of8 {
  width: calc(((100% - (0.24em * 7))/8) * 2)!important;
}

.col-3of8 {
  width: calc(((100% - (0.24em * 6))/8) * 3)!important;
}

.col-4of8 {
  width: calc(((100% - (0.24em * 5))/8) * 4)!important;
}

.col-5of8 {
  width: calc(((100% - (0.24em * 4))/8) * 5)!important;
}

.col-6of8 {
  width: calc(((100% - (0.24em * 3))/8) * 6)!important;
}

.col-7of8 {
  width: calc(((100% - (0.24em * 2))/8) * 7)!important;
}
