.contact-list-item {
	position: relative;
	padding: 5px 5px 0px 5px;
	cursor: pointer;
}

.contact-list-item .container {
	border: 1px solid hsla(30, 75%, 25%, 1);
	border-radius: 3px;
	box-sizing: border-box;
	width: calc(100% - 10px);
}

.contact-list-item .container:hover {
	background-color: hsla(200, 100%, 75%, 0.6);
}

.contact-list-item .contact-gravitar {
	/*float: left;*/
	position: absolute;
	top: 0ex;
	left: 0ex;
}

.contact-list-item .contact-gravitar img {
	position: relative;
	border-radius: 3px;
}

.contact-list-item .field {
	float: right;
	height: 50%;
	text-align: left;
	width: 50%;
}
