<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studioratliff.www.timebudgetter" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".OverviewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimeBudgetItemListActivity"
            android:label="@string/title_timebudgetitem_list"
            android:parentActivityName=".OverviewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.studioratliff.www.timebudgetter.OverviewActivity" />
        </activity>
        <activity
            android:name=".TimeBudgetItemDetailActivity"
            android:label="@string/title_timebudgetitem_detail"
            android:parentActivityName=".TimeBudgetItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.studioratliff.www.timebudgetter.TimeBudgetItemListActivity" />
        </activity>
    </application>

</manifest>
