html {
  font-family: Lucida Sans Unicode, monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.grid-item {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}