---
title: SVG
---
<!DOCTYPE html>
<!--
//====
/// @file index.html
/// @brief this file is a subject page for the github pages for my other repository
/// @author Trevor Ratliff
/// @date 2013-12-04
//  
//  Definitions:
//  
/// @verbatim
/// History:  Date  |  Programmer  |  Contact  |  Description  |
///		2013-12-04  |  Trevor Ratliff  |  trevor.w.ratliff@gmail.com  |  
///			page creation for http://trevor-ratliff.github.io/other/art/
/// @endverbatim
//====
-->

<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		{% include head_matter.ext %}
		
		<noscript>
			Turning JavaScript on in your browser makes for a much better experience!
		</noscript>
	</head>
	
	<body>
		<nav id="breadcrumbs"></nav>
		<div id="welcome">
			<h1>{{ page.title }}</h1>
		</div>
		
		<section id="content-container">
			<article id="content">
			{% include navigation.ext %}
			
			<h2>Some of the SVG work I've done</h2>
			the cat icon variations were some designs I submitted to the 
			<a target="_blank" href="http://www.discourse.org/">Discorse team</a>
			for a  mascot idea.<br>
			<!-- the breasts were for a baby feeding tracking app I was going to do ...<br> -->
			<br>
			
			{% include images.ext %}
			</article>
		</section>
	</body>
</html>
